nav{
    height: 50px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.1) !important;
}

nav a{
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0px 20px;
    color: var(--gray-color);
}

nav a:hover{
    color: black;
}

nav .left{
    float: left;
}

nav .left > a:first-child{
    margin-left: 30px;
}

nav .right{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}

nav ul > .username{
    display: block;
    line-height: 50px;
}

nav ul > li{
    display: none;
}

nav ul:hover > li{
    display: block;
}

nav ul a{
    margin: 0;
    padding: 0;
    width: 100%;
}