.add-vehicle-container {
    max-width: 600px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding around the form */
    background-color: var(--color-background2); /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.add-vehicle-container h1 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    font-weight: 300;
}

.add-vehicle-container .form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.add-vehicle-container label {
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Space below labels */
    font-weight: bold; /* Bold text for labels */
}

.add-vehicle-container select,
.add-vehicle-container input[type="text"] {
    width: 100%; /* Full width for inputs and selects */
    padding: 10px; /* Padding inside inputs and selects */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.add-vehicle-container select:focus,
.add-vehicle-container input[type="text"]:focus {
    border: 1px solid var(--color-button-background-hover);
    box-shadow: none;
}

.add-vehicle-container button {
    width: 100%; /* Full width for the button */
    padding: 10px; /* Padding inside the button */
    background-color: var(--color-button-background); /* Primary button color */
    color: var(--color-background); /* White text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

.add-vehicle-container button:hover {
    background-color: var(--color-button-background-hover); /* Darker shade on hover */
}

@media (max-width: 600px) {
    .add-vehicle-container {
        padding: 15px; /* Reduce padding on smaller screens */
    }

    .add-vehicle-container h1 {
        font-size: 24px; /* Adjust heading size on smaller screens */
    }
}
