:root{
    --gray-color: #6b6b6b;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


a{
    text-decoration: none;
}
  